<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="Simplic.CoreLib" version="6.16.18.1125" targetFramework="net451" />
  <package id="Simplic.Flow" version="6.5.19.130" targetFramework="net451" />
  <package id="Simplic.Flow.Configuration" version="6.4.18.1218" targetFramework="net451" />
  <package id="Simplic.Flow.Editor.Definition" version="6.2.118.1012" targetFramework="net451" />
  <package id="Simplic.Flow.Event" version="6.3.118.1212" targetFramework="net451" />
  <package id="Simplic.Flow.Node" version="6.7.219.128" targetFramework="net451" />
  <package id="Simplic.Localization" version="6.0.118.913" targetFramework="net451" />
  <package id="Simplic.Localization.UI" version="1.0.0.2" targetFramework="net451" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net451" />
  <package id="Unity.ServiceLocation" version="2.1.1" targetFramework="net451" />
</packages>